.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 4rem 0 3rem 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 104%;
    text-transform: uppercase;
    color: $lightgray;
    :last-child {
        color: #2B3503;
    }
}
