.button {
    line-height: 104%;
    text-transform: uppercase;
    transition: all 0.2s linear;
    &:hover {
        color: $white;
        background-color: $secondary;
    }
    &_sm {
        display: inline-block;
        padding: 0.8rem 1.8rem;
        font-weight: 500;
        border-radius: 29px;
        border: 1px solid $secondary;
        color: $secondary;
    }
    &_md {
        padding: 1.9rem 0;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 600;
        background-color: $darkgray;
        color: $white;
        border-radius: 54px;
        border: none;
    }
}
