.button {
    &_sm {
        padding: 0.8rem 1.8rem;
        font-weight: 500;
        line-height: 104%;
        text-transform: uppercase;
        border-radius: 29px;
        border: 1px solid $secondary;
        color: $secondary;
    }
    // &_md {
    // }
}
