.reviewofwork {
    max-width: 59rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid $secondary;
    &__image {
        width: 16.3rem;
        height: 16.3rem;
        img {
            width: auto;
            border-radius: 0.5rem;
        }
    }
    &__content {
        p {
            font-family: 'Inter', sans-serif;
            width: 40.2rem;
        }
    }
    &__name {
        margin-bottom: .2rem;
        font-weight: 600;
        line-height: 104%;
        text-transform: uppercase;
    }
    &__title {
        margin-bottom: 2rem;
        font-family: 'Inter', sans-serif;
        color: $lightgray;
    }
}
