.title {
    margin-bottom: 3.5rem;
    text-transform: uppercase;
    &_h1 {
        font-size: 12.6rem;
        font-weight: 700;
        line-height: 97.5%;
        letter-spacing: -3.15px;
    }
    &_h2 {
        font-size: 3rem;
        font-weight: 600;
        line-height: 104%;
        color: $secondary;
    }
}
