@media (max-width: 1200px) {
    .book {
        &__specifications {
            li {
                justify-content: space-between;
            }
            &-title {
                max-width: calc(70% - 1rem);
            }
            &-value {
                max-width: calc(30% - 1rem);
            }
        }
    }

    .quote.book {
        blockquote {
            font-size: 7rem;
            span {
                max-width: 70rem;
            }
        }
        img {
            max-width: 34rem;
            top: 43%;
        }
    }

    .reviews.book {
        
    }

    .otherbooks {
        &__descr {
            font-size: 3rem;
        }
    }
}

@media (max-width: 992px) {
    .book {
        .mobile {
            display: flex;
        }
        .not-mobile {
            display: none;
        }
        &__descr {
            font-size: 2.5rem;
        }
        &__inner {
            align-items: flex-start;
        }
        &__cover {
            display: flex;
            &::after {
                content: none;
            }
            img {
                object-fit: contain;
            }
        }
        &__info {
            &::after {
                content: none;
            }
        }
        &__title {
            font-size: 3rem;
            margin-bottom: 0.8rem;
        }
        &__genres {
            margin-bottom: 1.2rem;
            font-size: 1.4rem;
        }
        &__media {
            margin-bottom: 1.2rem;
        }
        &__description {
            span {
                margin-bottom: 0.5rem;
            }
            p {
                font-size: 1.2rem;
                line-height: 111%;
            }
        }
        &__specifications {
            margin-bottom: 0;
            li {
                padding: 1.2rem 0 1.2rem 0;
                align-items: center;
                gap: 1rem;
            }
            &-title {
                font-size: 1.2rem;
                max-width: calc(65% - 0.5rem);
            }
            &-value {
                max-width: calc(35% - 0.5rem);
            }
        }
        &__miniimages {
            padding-top: 1.2rem;
            position: relative;
            @include line(-1.2rem, $lightgray);
        }
    }

    .quote.book {
        h2 {
            top: 3rem;
        }
        blockquote {
            font-size: 5rem;
            span {
                max-width: 49rem;
            }
        }
        img {
            max-width: 24rem;
        }
    }

    .otherbooks {
        &__header {
            margin-bottom: 3rem;
        }
        &__descr {
            font-size: 2rem;
        }
        &__inner {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

@media (max-width: 767px) {
    .book {
        &__descr {
            max-width: 100%;
            margin-bottom: 3rem;
        }
        &__inner {
            flex-direction: column;
            gap: 1.5rem;
            &::before {
                content: none;
            }
        }
        &__cover,
        &__info {
            max-width: 100%;
        }
        &__cover {
            img {
                max-width: 50%;
                margin: 0 auto;
            }
        }
        &__genres {
            font-size: 1.6rem;
        }
        &__description {
            p {
                font-size: 1.4rem;
            }
        }
        &__miniimages {
            padding-top: 0;
            margin-top: 1.2rem;
        }
    }

    .quote.book {
        blockquote {
            font-size: 4rem;
            span {
                max-width: 40rem;
            }
        }
        img {
            max-width: 20rem;
        }
    }

    .otherbooks {
        &__header {
            margin-bottom: 2.5rem;
        }
        &__descr {
            font-size: 1.8rem;
        }
        &__inner {
            gap: 1rem;
        }
    }
}

@media (max-width: 576px) {
    .book {
        &__descr {
            font-size: 2rem;
            margin-bottom: 2rem;
        }

        &__cover {
            img {
                max-width: 60%;
            }
        }
        &__title {
            font-size: 2.5rem;
        }
        &__genres {
            font-size: 1.4rem;
        }
    }

    .quote.book {
        h2 {
            top: 2rem;
        }
        blockquote {
            font-size: 3rem;
            span {
                max-width: 29rem;
            }
        }
        img {
            max-width: 14rem;
        }
    }

    .otherbooks {
        &__header {
            margin-bottom: 2rem;
            flex-direction: column;
            gap: 0;
        }
        h2 {
            max-width: 100%;
        }
        &__descr {
            max-width: 100%;
            font-size: 1.6rem;
        }
        &__inner {
            gap: 1rem;
        }
    }
}

@media (max-width: 425px) {
    .book {
        &__descr {
            font-size: 1.6rem;
            margin-bottom: 1.5rem;
        }

        &__cover {
            img {
                max-width: 100%;
            }
        }
        &__title {
            font-size: 2rem;
        }
        &__genres {
            font-size: 1.4rem;
        }
        &__media {
            gap: 1rem;
        }
        &__description {
            margin-bottom: 1.2rem;
            p {
                font-size: 1.2rem;
            }
        }
        &__specifications {
            li {
                height: 3.9rem;
            }
            &-title,
            &-value {
                max-width: calc(50% - 0.5rem);
            }
        }
        &__miniimages {
            gap: 1rem;
            img {
                max-width: calc(50% - 0.5rem);
            }
        }
    }

    .quote.book {
        h2 {
            top: 1.8rem;
        }
        blockquote {
            font-size: 2.2rem;
            span {
                max-width: 19rem;
            }
        }
        img {
            max-width: 9rem;
        }
    }
}
