@media (max-width: 1248px) {
    .biography {
        &__inner {
            flex-direction: column;
        }
        &__top-left,
        &__top-right {
            max-width: 100%;
        }
        &__top-left {
            &::after {
                content: none;
            }
        }
        &__top-right {
            position: relative;
            @include line(-2.4rem, $lightgray);
        }
        &__havetoread {
            max-width: 52rem;
            margin-left: auto;
            margin-right: auto;
            span {
                bottom: 3rem;
                left: -7rem;
            }
        }
        &__row {
            flex-direction: column;
            gap: 4.8rem;
            &.bottom {
                gap: 2.4rem;
            }
            .big__text {
                max-width: 100%;
                &::after {
                    right: 46%;
                }
            }
            img {
                margin-left: auto;
            }
        }
        &__text {
            margin-top: 2.4rem;
        }
    }
}

@media (max-width: 992px) {
    .biography {
        h2 {
            font-size: 3rem;
        }
        &__row {
            .big__text {
                &::after {
                    right: 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .biography {
        h2 {
            font-size: 2.5rem;
        }
        &__top-left {
            gap: 1rem 2rem;
        }
        &__havetoread {
            font-size: 9rem;
            margin-right: 0;
            span {
                max-width: 21rem;
                font-size: 1.8rem;
                bottom: 2rem;
                left: 6rem;
            }
        }
        &__row {
            .big__text {
                font-size: 3rem;
                &::after {
                    width: 2.7rem;
                    height: 2.7rem;
                    bottom: 0;
                }
            }
            .media {
                gap: 1rem;
                .button {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .biography {
        h2 {
            font-size: 2rem;
        }
        &__inner {
            gap: 1rem;
        }
        &__top-left,
        &__top-right {
            gap: 1rem;
        }
        &__top-left {
            h2,
            img {
                max-width: calc(50% - 0.5rem);
            }
        }
        &__top-right {
            &::after {
                bottom: -1rem;
            }
            > img,
            .biography__block {
                max-width: calc(50% - 0.5rem);
            }
        }
        &__block {
            padding-top: 0;
            h2 {
                font-size: 1.8rem;
                padding: 6rem 1.5rem;
            }
        }
        &__havetoread {
            font-size: 7rem;
            span {
                max-width: 19rem;
                font-size: 1.6rem;
                bottom: 1rem;
                left: 0;
            }
        }
        &__text {
            margin-top: 1rem;
            gap: 1rem;
            &:first-child::after {
                bottom: -1.8rem;
            }
        }
        &__row {
            gap: 3.6rem;
            &.bottom {
                gap: 1rem;
            }
            .big__text {
                margin-bottom: 1.5rem;
                font-size: 2rem;
                &::after {
                    width: 2.4rem;
                    height: 2.4rem;
                    bottom: 0;
                }
            }
            .media {
                flex-direction: column-reverse;
                align-items: flex-start;
                gap: 1rem;
                .button {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .biography {
        h2 {
            font-size: 1.6rem;
        }
        &__block {
            h2 {
                font-size: 1.2rem;
                padding: 4rem 1.5rem;
            }
        }
        p {
            max-width: 100%;
            font-size: 1.2rem;
            line-height: 111%;
        }

        &__havetoread {
            font-size: 5rem;
            span {
                max-width: 14rem;
                font-size: 1.2rem;
                bottom: 0.8rem;
                left: -1rem;
            }
        }
        &__text {
            flex-direction: column;
        }
        &__row {
            &-block {
                gap: 1rem;
                &:last-child {
                    display: none;
                }
            }
            .media {
                position: static;
                flex-direction: row;
                gap: 1.1rem;
                .button {
                    font-size: 1.4rem;
                }
            }
            &.bottom {
                gap: 2rem;
            }
            img {
                margin: 0;
                // margin-top: 7.1rem;
                max-width: 100%;
                order: 3;
            }
        }
    }
}
