@media (max-width: 1200px) {
    .hero {
        &__title {
            margin-bottom: 3rem;
        }
        &__subtitle {
            font-size: 2rem;
        }
    }

    .books {
        h2 {
            margin-bottom: 3rem;
            &::after {
                bottom: -3rem;
            }
        }
        h3 {
            margin-bottom: 1.5rem;
        }
        &__inner {
            padding: 3rem 0;
            flex-direction: column;
        }
        &__text-block,
        &__somebooks {
            max-width: 100%;
            height: auto;
        }
        ul {
            position: static;
        }
        &__button {
            &::after {
                bottom: -3rem;
            }
        }
    }

    .news {
        &__row {
            padding: 0 2rem;
            gap: 1.5rem;
        }
    }

    .quote {
        h2 {
            font-size: 13.5rem;
        }
    }

    .blog {
        .not-mobile {
            display: none;
        }
        .mobile {
            display: block;
        }
        &__left {
            justify-content: space-between;
            .blog__block {
                max-width: 100%;
            }
        }
        &__left-down {
            gap: 2rem;
        }
        &__right {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .blog__subtitle {
                margin-bottom: 2rem;
                font-size: 3rem;
            }
        }
        &__links {
            flex-direction: row;
        }
        &__right-down {
            flex-direction: column-reverse;
            justify-content: space-between;
            gap: 2rem;
            height: 100%;
        }
        &__right-left {
            justify-content: end;
        }
        &__right-right {
            max-width: 100%;
            justify-content: space-between;
            gap: 1.5rem;
        }
        .top {
            margin-bottom: 1rem;
            p {
                margin-bottom: 1.5rem;
            }
        }
    }

    .reviews {
        &__subtitle {
            margin-bottom: 2.5rem;
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 992px) {
    .hero {
        padding: 4rem 0 8rem 0;
        &__top {
            margin-bottom: 5.6rem;
            &::after {
                bottom: -3.1rem;
            }
        }
        &__title {
            margin-left: -0.5rem;
            margin-bottom: 1.5rem;
            letter-spacing: -2px;
        }
        &__subtitle {
            max-width: 20rem;
            font-size: 1.6rem;
        }
        &__bottom {
            margin-bottom: 2.5rem;
            &::after {
                bottom: -2.5rem;
            }
        }
    }

    .about {
        &__text {
            flex-wrap: wrap;
        }
        &__media {
            &-books,
            &-personal {
                gap: 1rem;
            }
        }
        &__bottom {
            justify-content: center;
            flex-wrap: wrap;
            gap: 0.7rem 2rem;
            &-block {
                max-width: 40%;
                &:not(:last-child)::after {
                    content: none;
                }
                &:nth-child(odd)::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: -1rem;
                    width: 0.05rem;
                    height: 100%;
                    background-color: $primary;
                }
            }
        }
    }

    .books {
        h2 {
            margin-bottom: 2.5rem;
            &::after {
                bottom: -2.5rem;
            }
        }
        &__inner {
            padding: 2.5rem 0;
        }
        &__button {
            &::after {
                bottom: -2.5rem;
            }
        }
    }

    .news {
        .not-mobile {
            display: none;
        }
        .mobile {
            display: block;
        }
        &__row {
            padding: 0;
            &:nth-child(even) .news__block.begin {
                padding: 0;
                &::after {
                    content: none;
                }
            }
        }
        &__block {
            max-width: calc(50% - 1rem);
            > .news__block {
                max-width: 100%;
            }
            &.begin {
                &:after {
                    content: none;
                }
            }
            &.links.mobile {
                display: flex;
                max-width: 100%;
            }

            img {
                object-fit: contain;
            }

            .content-title {
                margin-bottom: 1.2rem;
            }
            p {
                margin-bottom: 2rem;
            }
        }
    }

    .quote {
        h2 {
            font-size: 10.2rem;
        }
        &__inner {
            padding-top: 6rem;
        }
        blockquote {
            max-width: 42rem;
            margin-bottom: 7rem;
            font-size: 2rem;
            &::before {
                content: url('../images/icons/wing-md.png');
                top: -2rem;
                left: -6rem;
            }
        }
        p {
            margin-right: 0;
        }
    }

    .blog {
        h2 {
            margin-bottom: -2rem;
        }
        &__left {
            .big-img {
                padding-top: 8.5rem;
            }
        }
        &__right {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .blog__subtitle {
                margin-bottom: 2rem;
                font-size: 2rem;
            }
        }
        &__left-down,
        &__right-down {
            gap: 1.5rem;
        }
        &__right-right {
            gap: 1rem;
        }
        .top {
            p {
                margin-bottom: 4.5rem;
            }
        }
    }

    .reviews {
        &__subtitle {
            margin-bottom: 2rem;
            font-size: 2rem;
        }
    }
}

@media (max-width: 767px) {
    .hero {
        &__title {
            margin-bottom: 1rem;
        }
        &__subtitle {
            max-width: 17rem;
            font-size: 1.3rem;
        }
    }

    .about {
        h2 {
            text-align: center;
            margin-bottom: 0.8rem;
        }
        .section-description {
            text-indent: unset;
            text-align: center;
        }
        &__inner {
            flex-direction: column;
            gap: 1.5rem;
            margin-bottom: 2rem;
        }
        &__img {
            max-width: 100%;
        }
        &__right {
            max-width: 100%;
        }
        &__text {
            flex-direction: column;
            gap: 0;
            p {
                max-width: 100%;
            }
        }
        &__media {
            &-books,
            &-personal {
                max-width: calc(50% - 1rem);
                gap: 2rem;
            }
        }
        &__bottom {
            &-block {
                max-width: calc(50% - 1rem);
            }
        }
    }

    .books {
        h2 {
            margin-bottom: 2rem;
            &::after {
                bottom: -2rem;
            }
        }
        &__inner {
            padding: 2rem 0;
            gap: 1rem;
        }
        &__spine {
            h3 {
                top: 16.5rem;
            }
            &.item-3 {
                h3 {
                    top: 15.5rem;
                }
            }
        }
        &__button {
            font-size: 1.6rem;
            &::after {
                bottom: -2rem;
            }
        }
    }

    .news {
        h2 {
            &::after {
                bottom: -2rem;
            }
        }
        &__block {
            margin: 1rem 0;
            &.links.mobile {
                margin: 1rem 0 0 0;
                gap: 0.5rem;
            }
            .content-title {
                margin-bottom: 1rem;
            }
            p {
                margin-bottom: 1.5rem;
            }
        }
    }

    .quote {
        &__inner {
            padding-top: 4rem;
        }
        h2 {
            font-size: 7.6rem;
        }
        blockquote {
            font-size: 1.6rem;
            &::before {
                content: url('../images/icons/wing-sm.png');
                top: -0.5rem;
                left: -3rem;
            }
        }
    }

    .blog {
        &__inner {
            gap: 1rem;
        }
        &__left,
        &__right {
            max-width: calc(50% - 0.5rem);
        }
        &__left {
            &::after {
                right: -0.5rem;
            }
        }
        &__right {
            .blog__subtitle {
                margin-bottom: 1rem;
                font-size: 1.8rem;
                &::after {
                    bottom: -1.5rem;
                }
            }
        }
        &__links {
            flex-direction: column;
        }
        &__block {
            p {
                font-size: 1.2rem;
            }
        }
        .big-img {
            padding-top: 5.5rem;
        }
        .top {
            p {
                margin-bottom: 3rem;
                line-height: 111%;
            }
        }
        .blog__block.news {
            p {
                line-height: 111%;
                margin-bottom: 0.5rem;
            }
            .read-more {
                font-size: 1.2rem;
            }
        }
    }

    .reviews {
        &__header {
            flex-direction: column;
            gap: 0;
        }
        h2,
        &__header-right {
            max-width: 100%;
        }
        &__inner,
        &__row {
            gap: 1rem;
        }
    }
}

@media (max-width: 630px) {
    .books {
        ul {
            display: none;
            height: 830px;
            justify-content: center;
            gap: 1.2rem;
        }
        li {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 1rem;
            &.active {
                width: 6.4rem;
            }
        }
        &__spine {
            h3 {
                top: 15rem;
                right: -10.7rem;
                width: 28rem;
            }
            &.item-3 {
                h3 {
                    top: 14rem;
                }
            }
        }
        .trigger {
            height: 430px;
        }
        .content {
            position: absolute;
            width: 28.6rem;
            height: 400px;
            bottom: -1rem;
            left: 0;
            &.content-2 {
                left: -7.6rem;
            }
            &.content-3 {
                left: -15.3rem;
            }
            &.content-4 {
                left: -23rem;
            }
        }
    }
}

@media (max-width: 576px) {
    .hero {
        padding: 2rem 0 7rem 0;
        &__top {
            margin-bottom: 3rem;
            &::after {
                bottom: -1.5rem;
            }
        }
        &__header {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            margin-bottom: 0.8rem;
        }
        &__title {
            margin-left: -0.3rem;
            letter-spacing: -0.85px;
            .abs-word {
                position: static;
                display: block;
            }
        }
        &__subtitle {
            max-width: 20rem;
            font-size: 1.4rem;
        }
        &__bottom {
            margin-bottom: 1.5rem;
            &::after {
                bottom: -1.5rem;
            }
        }
    }

    .about {
        &__bottom {
            gap: 0;
            &-block {
                max-width: 100%;
                padding-right: 0;
                margin-right: 1rem;
                &:nth-child(odd)::after,
                &:nth-child(even)::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: -1rem;
                    width: 0.05rem;
                    height: 90%;
                    background-color: $primary;
                }
            }
        }
    }

    .news {
        &__row {
            padding: 1rem 0 1.5rem 0;
            flex-direction: column-reverse;
            &:nth-child(even) {
                flex-direction: column-reverse;
            }
        }
        &__block {
            margin: 0;
            max-width: 100%;
            &.begin {
                &::after {
                    content: none;
                }
            }
            &.video {
                margin: 0;
            }
        }
    }

    .quote {
        &__inner {
            padding-top: 3rem;
        }
        h2 {
            font-size: 5.6rem;
        }
        blockquote {
            max-width: 32rem;
            margin-bottom: 3rem;
        }
    }

    .blog {
        h2 {
            margin: 0;
            margin-bottom: 2.5rem;
        }
        &__inner {
            flex-direction: column;
            &::after {
                content: none;
            }
        }
        &__left {
            max-width: 100%;
            flex-direction: column-reverse;
            &::after {
                content: none;
            }
            .blog__subtitle {
                font-size: 2.5rem;
            }
        }
        &__right {
            max-width: 100%;
        }
        &__left-down,
        &__right-left {
            gap: 0;
            picture {
                display: none;
            }
        }
        &__right-down {
            gap: 0;
        }
        .big-img {
            padding: 0;
        }
        .top {
            margin-bottom: 0.5rem;
            p {
                margin-bottom: 1.5rem;
                font-size: 1.4rem;
            }
        }
        .mobile-sm {
            display: flex;
            gap: 0.5rem;
            img {
                max-width: calc(50% - 0.25rem);
                height: auto;
            }
        }
    }
}

@media (max-width: 425px) {
    .hero {
        &__title {
            text-align: right;
        }
    }

    .about {
        &__text {
            font-size: 1.2rem;
        }
        &__media {
            flex-direction: column;
            gap: 1rem;
        }
    }

    .books {
        &__inner {
            padding-bottom: 1.5rem;
        }
        &__text-block {
            padding: 2rem 2rem 2rem 1.4rem;
            p {
                margin-bottom: 1rem;
                font-size: 1.2rem;
                line-height: 111%;
            }
        }
        ul {
            gap: 0.5rem;
        }
        .content {
            width: 27.6rem;
        }
    }

    .quote {
        &__inner {
            padding-top: 1.5rem;
        }
        h2 {
            font-size: 3.8rem;
        }
        blockquote {
            max-width: 24rem;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
        p {
            max-width: 14rem;
            font-size: 1.2rem;
            line-height: 111%;
        }
    }

    .blog {
        &__left {
            .blog__subtitle {
                font-size: 2rem;
            }
        }
    }

    // .reviewofwork {
    //     &__image {
    //         display: none;
    //     }
    // }
}
