.booklist {
    &__wrapper {
        position: relative;
        height: 17rem;
        padding: .5rem 0 2rem 0;
        background: $darkgray;
        color: #fff;
        font-weight: 600;
        line-height: 101%;
        text-transform: uppercase;
        overflow: hidden;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: .7rem;
            width: 100%;
            height: 6px;
            border-bottom: 6px dotted #fff;
        }
    }
    ul {
        position: absolute;
        bottom: 35px;
        left: -5%;
        width: 20rem;
        height: 100%;
        transform: rotate(-90deg);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: .6rem;
        
        li {
            max-width: min-content;
            min-width: 15rem;
        }
    }
}
