<header class="header">
    <img class="header__bg" src="assets/images/backgrounds/header-bg.png" alt="#">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">Сергей<br> мельников</div>
            <nav>            
                <ul>
                    <li class="active">
                        <a href="index.html">Главная</a>
                    </li>
                    <li>
                        <a href="books.html">Книги</a>
                    </li>
                    <li>
                        <a href="biography.html">Биография</a>
                    </li>
                    <li>
                        <a href="contacts.html">Контакты</a>
                    </li>
                </ul>
            </nav>
            <div class="header__phone">
                <a href="tel:+79779931112">+7 (977) 993-11-12</a>
            </div>

            <div class="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="menu">
                <div class="menu__wrapper">
                    <div class="header__logo">Сергей<br> мельников</div>
                    <nav>            
                        <ul>
                            <li class="active">
                                <a href="index.html">Главная</a>
                            </li>
                            <li>
                                <a href="books.html">Книги</a>
                            </li>
                            <li>
                                <a href="biography.html">Биография</a>
                            </li>
                            <li>
                                <a href="contacts.html">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__phone">
                        <a href="tel:+79779931112">+7 (977) 993-11-12</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</header>
